# -*- mode: ruby -*-
# vi: set ft=ruby :

ip = "192.168.5.5"
memory = 1024
cpus = 2
folders = [
    #{ "map" => "/path/to/mycode", 'to' => "/path/in/vagrant/mycode"},
]

VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
    config.vm.box = "debian/jessie64"

    # if you have vagrant-vbguest plugin, you can choose to uncomment this
    #config.vbguest.auto_update = false

    config.vm.box_check_update = false
    config.vm.network "private_network", ip: ip

    config.vm.provider "virtualbox" do |vb|
        vb.name = 'php7play'
        vb.customize ["modifyvm", :id, "--memory", memory]
        vb.customize ["modifyvm", :id, "--cpus", cpus]
        vb.customize ["modifyvm", :id, "--natdnsproxy1", "on"]
        vb.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
        vb.customize ["modifyvm", :id, "--ostype", "Debian_64"]
        vb.customize ["modifyvm", :id, "--audio", "none", "--usb", "off", "--usbehci", "off"]
    end

    if folders.kind_of?(Array)
      folders.each do |folder|
        config.vm.synced_folder folder["map"], folder["to"], type: folder["type"] ||= nil
      end
    end

    config.vm.provision :shell, :path => "setup.sh"
end
